@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&family=Cinzel:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: #050511;
  color: #e2e8f0;
}

.navbar img {
  width: 100px;
}

.navbar{
  padding: 2rem;
  background-color: #050511;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}

.itens {
  display: flex;
  gap: 30px;
}

.itens li{
  list-style: None;
}

.itens a {
  text-decoration: None;
  color: #e2e8f0;
  transition: all 0.2s ease;
}

.itens a:hover{
  color: #d8b4fe;
  text-shadow: 0 0 20px rgba(129,140,248,0.5);
}

.hero-container {
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  color: #e2e8f0;
  text-align: center;
}

.hero-content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.name {
  font-family: "Cinzel", serif;
  color: white;
  font-size: 80px;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.greetings, .description{
  font-size: 25px;
  padding: 1rem;
}

.role{
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid rgb(168, 85, 247, 0.3);
  padding: 1rem;
  border-radius: 50px;
  margin-bottom: 20px;
  width: 350px;
  color: rgb(216, 180, 254);
  animation: pulse 2s infinite alternate;
  background-color: rgb(88, 28, 135, 0.3);
}

.hero-buttons {
  display: flex;
  gap: 30px;
}

.hero-buttons a {
  text-decoration: None;
  color: #e0e7ff;
}

.btn-projetos{
  color: #e0e7ff;
  text-decoration: None;
  background-color: rgb(126, 34, 206, 0.4) ;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid rgb(99, 102, 241, 0.3);
  border-radius: 50px;
  padding: 0.5rem;
  width: 150px;
  transition: all 0.3s ease;
  cursor: pointer
}

.btn-contatos{
  color: #e0e7ff;
  text-decoration: None;
  background-color: rgb(126, 34, 206, 0.4) ;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid rgb(99, 102, 241, 0.3);
  border-radius: 50px;
  padding: 0.5rem;
  width: 200px;
  transition: all 0.3s ease;
  cursor: pointer
}

.btn-contatos:hover, .btn-projetos:hover{
  background-color: rgb(55, 48, 163, 0.6);
  border-color: rgb(129, 140, 248);
  box-shadow: 0 0 20px rgba(129,140,248,0.5);
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.about-container{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}


.about-content{
  align-items: center;
  gap: 60px;
  display: flex;
}

.about-container h2{
  padding: 2rem;
  font-size: 60px;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.textos {
  width: 700px;
  color: #b2bec3;
}

.container-foto {
  border: 1px solid rgb(129, 140, 248);
  box-shadow: 0 0 30px rgba(168,85,247,0.3);
  overflow: hidden;
  align-items: center;
  align-content: center;
  background-color: #581c87;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  transition: all 0.2s ease; 
}

.container-foto:hover{
  box-shadow: 0 0 50px rgba(168,85,247,0.5);
}

.container-foto img {
  object-fit: cover;
  width: 400px;
  transform: translateY(45px);
  transition: all 0.2 ease;
}

.about-content p {
  font-size: 25px;
}

.skills-container{
  min-height: 80vh;
  background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(237, 221, 83, 0) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.skills-container h2{
  padding: 2rem;
  font-size: 60px;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.skill-card {
  background-color: rgb(15, 23, 42);
  border: 1px solid rgb(168, 85, 247, 0.1);
  border-radius: 12px;
  padding: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover{
  transform: translateY(-5px); 
  border-color: #6c5ce7;
  box-shadow: 0 10px 20px rgba(108, 92, 231, 0.2);
}

.skill-card h3 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #fff;
  padding-bottom: 10px;
}

.skill-header{
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-icon{
  color: rgb(224, 231, 255);
  border: 1px solid rgb(168, 85, 247, 0.5);
  display: flex;
  align-content: center;
  align-items: center;
  background-color: rgb(88, 28, 135, 0.5);
  padding: 1rem;
  border-radius: 12px;
  transform: rotate(3deg);
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.tech-tag {
  background-color: rgb(88, 28, 135,0.5);
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.9rem;
  color: #dfe6e9;
  border: 1px solid rgb(168, 85, 247, 0.1);
}

.projetos-container {
  background-color: #0a0a20;
  min-height: 80vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projetos-container h2 {
  padding: 2rem;
  font-size: 60px;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.projects-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 60px;
  max-width: 1000px;
  margin: 0 auto;
}

.project-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  padding: 1rem;
  background-color: rgb(15, 23, 42, 0.6);
  border: 1px solid rgb(168, 85, 247, 0.2);
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1;
}

.project-card::after{
  content: "";
  position: absolute;
  bottom: -100px; 
  right: -100px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(circle, rgb(147, 51, 234, 0.6) 0%, rgba(120, 80, 255, 0) 70%);
  filter: blur(60px);
  z-index: -1; 
}

.project-card:hover{
  transform: translateY(-5px); 
  border-color: #6c5ce7;
  box-shadow: 0 10px 40px rgba(108, 92, 231, 0.5);
}

.card-header {
  display: flex;
  justify-content: end;
  align-items: end;
}

.card-links a {
  color: rgb(224, 231, 255);
  text-decoration: none;
}

.title {
  font-size: 30px;
  padding: 0.5rem;
}

.description {
  color: #b2bec3;
  font-size: 20px;
  text-align: start;
  padding: 0.5rem;
}

.tag-list {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.project-tags {
  background-color: rgb(88, 28, 135,0.5);
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.9rem;
  color: #dfe6e9;
  border: 1px solid rgb(168, 85, 247, 0.1);
}

.contatos-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 80vh;
  gap: 2rem;
}

.contatos-container h2 {
  font-size: 60px;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.contact-content{
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 2rem;
} 

.contact-content p {
  font-size: 20px;
  color: #b2bec3;
}

.contact-card {
  position: relative;
  overflow: hidden;
  background-color: rgb(15, 23, 42, 0.6);
  border: 1px solid rgb(168, 85, 247, 0.2);
  padding: 1.5rem 3rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: rgb(224, 231, 255);
  transition: transform 0.3s, border-color 0.3s;
  z-index: 1;
  width: 100%;
  max-width: 450px;
  justify-content: center;
}

.contact-card:hover {
  transform: translateY(-5px);
  border-color: #6c5ce7;
  box-shadow: 0 10px 40px rgba(108, 92, 231, 0.5);
}

.icon-box {
  color: rgb(224, 231, 255);
}

.contact-info h3 {
  font-size: 1.1rem;
  margin: 0;
}

.contact-info span {
  font-size: 0.9rem;
  color: #b2bec3;
}

.social-links {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.social-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  background-color: rgb(15, 23, 42, 0.6);
  border-radius: 30px;
  text-decoration: none;
  color: #b2bec3;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.social-btn:hover {
  background: rgba(255, 255, 255, 0.1);
  border-color: #6c5ce7;
}

footer {
  background-color: #050511;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: rgb(100, 116, 139);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
